<!DOCTYPE HTML>
<html>
<head>
    <title>SocketIO</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="/static/client.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <p>Max latency: <b><span id="cpu-usage"></span></b></p>
    <div id="log"></div>
</body>
</html>
